name: Lint

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
      - "feature/*"
      - "fix/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.5.x
      - run: deno fmt --check
      - run: deno lint
      - run: deno check
      - run: deno test
